@import '@styles/colors';

.container {
	z-index: 1;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 80%;
		max-width: 800px;

		.progressBar {
			width: 100%;
			height: 5rem;
			border: 0.2rem dashed $old-lavender;
			padding: 0.2rem;
			position: relative;
			background: $apricot;

			div {
				width: 0;
				height: 100%;
				background: $old-lavender;
				animation-fill-mode: forwards;
				animation-name: loadingBar;
				animation-duration: 2s;
			}
		}

		.progressBar::before {
			z-index: -1;
			content: '';
			position: absolute;
			width: calc(100% + 0.2rem);
			height: calc(100% + 0.2rem);
			left: 0.5rem;
			top: 0.5rem;
			background: $old-lavender;
			opacity: 0.6;
		}

		.loaderText {
			margin-top: 1rem;
		}

		.loaderText::after {
			font-size: 1.75rem;
			content: '';
			animation-fill-mode: forwards;
			animation-name: loadingText;
			animation-duration: 2s;
		}

		.percent {
			margin-bottom: 0.5rem;
			align-self: flex-start;
		}

		.percent::after {
			font-size: 1.5rem;
			content: '';
			animation-fill-mode: forwards;
			animation-name: zeroToOneHundred;
			animation-duration: 2s;
		}
	}
}

@keyframes loadingText {
	0%, 60% {
		content: 'Building...';
	}
	90%,
	100% {
		content: 'Finishing up... ;)';
	}
}

@keyframes loadingBar {
	25% {
		width: 15%;
	}
	50% {
		width: 50%;
	}
	80% {
		width: 60%;
	}
	100% {
		width: 100%;
	}
}

@keyframes zeroToOneHundred {
	@for $i from 0 through 100 {
		#{$i * 1%} {
			content: '#{$i} %';
		}
	}
}
