@import '@styles/colors';

$squarew: 1.25rem;
$squareh: 1.25rem;
$squaremargin: 0.25rem;
$loaderw: calc($squarew * 3 + $squaremargin * 2);
$loaderh: calc($squareh * 3 + $squaremargin * 2);
$delayenter: 0.1s;
$topenter: -10px;
$speed: 2s;

@mixin transition($value) {
	-webkit-transition: $value;
	-moz-transition: $value;
	transition: $value;
}

@mixin delay($delay) {
	-webkit-animation-delay: $delay;
	-moz-animation-delay: $delay;
	animation-delay: $delay;
}
@-webkit-keyframes enter {
	0% {
		opacity: 0;
		top: $topenter;
	}
	5% {
		opacity: 1;
		top: 0px;
	}
	50.9% {
		opacity: 1;
		top: 0px;
	}
	55.9% {
		opacity: 0;
		top: -$topenter;
	}
}
@keyframes enter {
	0% {
		opacity: 0;
		top: $topenter;
	}
	5% {
		opacity: 1;
		top: 0px;
	}
	50.9% {
		opacity: 1;
		top: 0px;
	}
	55.9% {
		opacity: 0;
		top: -$topenter;
	}
}
@-moz-keyframes enter {
	0% {
		opacity: 0;
		top: $topenter;
	}
	5% {
		opacity: 1;
		top: 0px;
	}
	50.9% {
		opacity: 1;
		top: 0px;
	}
	55.9% {
		opacity: 0;
		top: -$topenter;
	}
}

.square {
	background: $old-lavender;
	width: $squarew;
	height: $squareh;
	float: left;
	margin-right: $squaremargin;
	margin-top: $squaremargin;
	position: relative;
	opacity: 0;
	-webkit-animation: enter $speed infinite;
	animation: enter $speed infinite;

	&::before {
		@extend .square;
		content: '';
		background: $english-lavender;
    margin-top: -$squaremargin / 1.5;
    left: -$squaremargin / 1.5;
		position: absolute;
		-webkit-animation: enter $speed infinite;
		animation: enter $speed infinite;
	}
}
.enter {
	top: 0px;
	opacity: 1;
}
.square:nth-child(1),
.square:nth-child(1)::before {
	@include delay(6 * $delayenter);
}
.square:nth-child(2),
.square:nth-child(2)::before {
	@include delay(7 * $delayenter);
}
.square:nth-child(3),
.square:nth-child(3)::before {
	@include delay(8 * $delayenter);
}
.square:nth-child(4),
.square:nth-child(4)::before {
	@include delay(3 * $delayenter);
}
.square:nth-child(5),
.square:nth-child(5)::before {
	@include delay(4 * $delayenter);
}
.square:nth-child(6),
.square:nth-child(6)::before {
	@include delay(5 * $delayenter);
}
.square:nth-child(8),
.square:nth-child(8)::before {
	@include delay(1 * $delayenter);
}
.square:nth-child(9),
.square:nth-child(9)::before {
	@include delay(2 * $delayenter);
}
.clear {
	clear: both;
}
.last {
	margin-right: 0;
}
