@import '@styles/colors';
@import '@styles/keyframes';

.underline {
  width: 0;
	height: 0.25rem;
	background: $apricot;
}

.mouseEnter {
	animation-fill-mode: forwards;
	animation-name: moveToRight;
	animation-duration: 1s;
}

.mouseLeave {
	animation-fill-mode: backwards;
	animation-name: moveToLeft;
	animation-duration: 1s;
}

.show {
	&:global {
		animation: fadeIn 1s 0.5s forwards, hideThenShow 0.5s forwards;
	}
}

.hide {
	visibility: hidden;
}

@keyframes moveToRight {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@keyframes moveToLeft {
	0% {
		width: 100%;
	}
	100% {
		width: 0;
	}
}
