@import '@styles/colors';
@import '@styles/mixins';

.App {
	position: relative;
}

.pageContainer {
	height: 100vh;
	@include main-content-padding;
	display: flex;
	flex-direction: column;
  overflow: auto;

	main {
		flex: 1;
		margin: 1rem 0;
	}

	.topTags {
		display: flex;
		flex-direction: column;
		opacity: 0.6;
		flex: 0;
		line-height: normal;

		span {
			font-size: 1.5rem;
		}

		:nth-child(3) {
			margin-left: 2rem;
		}
	}

	.bottomTags {
		display: flex;
		flex-direction: column;
		opacity: 0.6;
		flex: 0;
		line-height: normal;

		span {
			font-size: 1.5rem;
		}

		:nth-child(1) {
			margin-left: 2rem;
		}
	}
}
