@import '@styles/colors';

.App {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.pageContainer {
	height: 100%;
	padding: calc(10rem - 1.5rem) 3rem calc(10rem - 7rem) 3rem;

	.innerContainer {
		height: 100%;
		display: flex;
		flex-direction: column;

		main {
			flex: 1;
      margin: 1rem 4rem;
		}

		.topTags {
			display: flex;
			flex-direction: column;
			opacity: 0.6;
      flex: 0;

			span {
				font-size: 1.5rem;
			}

			:nth-child(3) {
				margin-left: 2rem;
			}
		}

		.bottomTags {
			display: flex;
			flex-direction: column;
			opacity: 0.6;
      flex: 0;

			span {
				font-size: 1.5rem;
			}

			:nth-child(1) {
				margin-left: 2rem;
			}
		}
	}
}
