@import '@styles/colors';

.homePage {
  display: flex;
  justify-content: center;
	will-change: contents;
	transform-style: preserve-3d;
	animation: fadeIn 1s forwards;
	animation-delay: 1s;

	h1 {
		color: $old-lavender;
		font-size: 3rem;
		margin: 0;
		font-weight: 400;
	}

	h2 {
		color: $old-lavender;
		margin-top: 20px;
		font-weight: 400;
		font-size: 2rem;
		letter-spacing: 0.25rem;
	}

	.flatButton {
		color: $english-lavender;
		font-size: 1rem;
		font-weight: 400;
		letter-spacing: 4px;
		text-decoration: none;
		padding: 1rem 1.5rem;
    width: min-content;
		border: 1px solid $english-lavender;
		white-space: nowrap;

		&:hover {
			background: $english-lavender;
			color: $apricot;
		}
	}
}
