@import '@styles/colors';
@import '@styles/mixins';
@import '@styles/typed';
@import '@styles/variables';

.homePage {
	height: 100%;
	width: 100%;
	// padding: 3rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	overflow: hidden;

	.contentContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 3rem;
		@include for_breakpoint(mobile) {
			flex-direction: column;
		}

		header {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 30.5rem;
			@include for_breakpoint(mobile) {
				width: fit-content;
			}

			.headingContainer {
				position: relative;
				margin: 1rem 0;
				width: 100%;
			}

			.homeTitle {
				position: absolute;
				color: $old-lavender;
				margin: 0;
				font-size: 3rem;
				font-weight: 400;
				@include typed($greeting, $speeds1, $options1);
				padding-right: 1ch;
				width: 100%;

				&.hide {
					&::after {
						visibility: hidden;
					}
				}

				&::after {
					margin-right: -1ch;
				}
			}

			.homeTitleHidden {
				margin: 0;
				font-size: 3rem;
				font-weight: 400;
				padding-right: 1ch;
				visibility: hidden;
				width: 100%;
			}

			.homeSubtitleHidden {
				@extend .homeTitleHidden;
				font-size: 2rem;
				letter-spacing: 0.5rem;
				padding-right: 2ch;
			}

			.homeSubtitle {
				position: absolute;
				color: $old-lavender;
				margin: 0;
				font-weight: 400;
				font-size: 2rem;
				letter-spacing: 0.5rem;
				visibility: hidden;
				@include typed($job-title, $speeds2, $options2);
				padding-right: 2ch;
				width: 100%;

				&.show {
					visibility: visible;
				}

				&::after {
					margin-right: -2ch;
				}
			}
		}

		img {
			width: 12rem;
			height: 12rem;
			transform: rotate(var(--img-rotate)) scaleY(var(--img-flip));
			-moz-transform: rotate(var(--img-rotate)) scaleY(var(--img-flip));
			-webkit-transform: rotate(var(--img-rotate)) scaleY(var(--img-flip));
			-o-transform: rotate(var(--img-rotate)) scaleY(var(--img-flip));
			-ms-transform: rotate(var(--img-rotate)) scaleY(var(--img-flip));
			transition: transform var(--img-transition) ease-in-out;
		}
	}

	// TODO Make entrance animation for contact button

	.flatButton {
		width: 12rem;
		height: 4rem;
		align-self: center;
		margin-bottom: 2rem;
		color: $english-lavender;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.25rem;
		font-weight: 400;
		letter-spacing: 0.25rem;
		text-decoration: none;
		white-space: nowrap;
		border: 0.15rem solid $english-lavender;
		background: $apricot;
		filter: drop-shadow(0.25rem 0.25rem $old-lavender);

		&:hover {
			background: $english-lavender;
			color: $apricot;
		}

		&:active {
			background: $melon;
			border: 0.15rem solid $melon;
			color: $old-lavender;
		}
	}
}
