@import '/styles/colors.scss';

.homePage {
	will-change: contents;
	transform-style: preserve-3d;
	animation: fadeIn 1s forwards;
	animation-delay: 1s;
	.textZone {
		// position: absolute;
		// left: 10%;
		// top: 50%;
		// transform: translateY(-50%);
		// width: 40%;
		// max-height: 90%;
	}

	h1 {
		color: $old-lavender;
		font-size: 53px;
		margin: 0;
		font-weight: 400;

		&::before {
			content: '<h1>';
			color: $old-lavender;
			font-size: 18px;
			opacity: 0.6;
		}

		&::after {
			content: '</h1>';
			color: $old-lavender;
			font-size: 18px;
			animation: fadeIn 1s 1.7s backwards;
			opacity: 0.6;
		}

		.bigLetterS {
			width: 32px;
			margin-left: 20px;
			opacity: 0;
			height: auto;
			animation: rotateIn 1s linear both;
			animation-delay: 1.4s;
		}
	}

	h2 {
		color: $old-lavender;
		margin-top: 20px;
		font-weight: 400;
		font-size: 11px;
		letter-spacing: 3px;
		animation: fadeIn 1s 1.8s backwards;
	}

	.flatButton {
		color: $english-lavender;
		font-size: 13px;
		font-weight: 400;
		letter-spacing: 4px;
		text-decoration: none;
		padding: 10px 18px;
		border: 1px solid $english-lavender;
		margin-top: 25px;
		float: left;
		animation: fadeIn 1s 1.8s backwards;
		white-space: nowrap;

		&:hover {
			background: $english-lavender;
			color: $apricot;
		}
	}
}
