@import '@styles/colors';
@import '@styles/keyframes';
@import '@styles/mixins';

.footer {
	width: 100%;
	justify-self: end;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	color: $apricot;
	@include for_breakpoint(mobile) {
		margin: 2rem 0 4rem 0;
	}

	span {
		font-size: 1.25rem;
	}
}

.show {
	&:global {
		animation: fadeIn 1s 0.5s forwards, hideThenShow 0.5s forwards;
	}
}

.hide {
	visibility: hidden;
}
