@import '@styles/colors';
@import '@styles/mixins';

.contactPage {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
		@include for_breakpoint(desktop) {
			width: 50rem;
		}
		@include for_breakpoint(tablet) {
			width: 40rem;
		}
		@include for_breakpoint(mobile) {
			width: 90vw;
		}

		div {
			position: relative;
			caret-color: transparent;

			&.textarea::before {
				content: '';
				position: absolute;
				background: $old-lavender;
				@include for_breakpoint(desktop) {
					width: 50rem;
				}
				@include for_breakpoint(tablet) {
					width: 40rem;
				}
				@include for_breakpoint(mobile) {
					width: 90vw;
				}
				left: 0.25rem;
				z-index: -1;
				height: 30rem;
			}

			&.input::before {
				@extend .textarea;
				height: 3rem;
			}

			&::after {
				content: '';
				width: 1.5ch;
				background: $old-lavender;
				height: 1.5rem;
				z-index: 1;
				position: absolute;
				animation: blinking 0.75s infinite;
			}

			&.input::after {
				top: 0.7rem;
			}

			@keyframes blinking {
				75% {
					opacity: 0;
				}
			}

			input {
				background: $apricot;
				border: 0.15rem solid $english-lavender;
				height: 3rem;
				font-size: 1.5rem;
				width: 100%;
				outline: none;
				color: $old-lavender;
				padding: 0.5rem 0.75rem;
				text-overflow: ellipsis;

				&::placeholder {
					color: $old-lavender-faded;
				}

				&:-webkit-autofill,
				&:-webkit-autofill:focus,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:active,
				&:-internal-autofill-selected {
					color: $old-lavender !important;
					-webkit-text-fill-color: $old-lavender !important;
					box-shadow: 0 0 0px 1000px $apricot inset;
					background-color: $apricot !important;
					background-image: none !important;
				}

				&:-webkit-autofill::first-line {
					font-family: 'Fixedsys', 'sans-serif' !important;
					font-size: 1.5rem !important;
					font-weight: 400 !important;
				}
			}

			textarea {
				height: 30rem;
				font-size: 1.5rem;
				border: 0.15rem solid $english-lavender;
				background: $apricot;
				width: 100%;
				outline: none;
				resize: none;
				color: $old-lavender;
				padding: 0.75rem;

				&::placeholder {
					color: $old-lavender-faded;
				}
			}
		}

		button {
			margin-top: 1rem;
			align-self: center;
			font-size: 1.5rem;
			background: $english-lavender;
			width: fit-content;
			width: 10rem;
			height: 4rem;
			color: #fff;
			position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      img {
        filter: invert(1);
        height: 1.5rem;
        width: 1.5rem;
      }

			&::before {
				position: absolute;
				content: '';
				background: $old-lavender;
				width: 10rem;
				height: 4rem;
				z-index: -1;
				left: 0.25rem;
			}

			&:hover::before {
				top: 0.5rem;
				transition: 0.1s ease-in-out;
			}

			&:not(:hover)::before {
				top: 0.25rem;
				transition: 0.1s ease-in-out;
			}

      &:active {
        background: $melon;
        color: $old-lavender;

        img {
          filter: invert(0);
        }
      }

      &:active::before {
        filter: blur(2px)
      }
		}
	}
}

.inputFocus::before {
	top: 0.5rem;
	transition: 0.1s ease-in-out;
}

.inputBlur::before {
	top: 0.25rem;
	transition: 0.1s ease-in-out;
}
