@import '@styles/colors';
@import '@styles/mixins';
@import '@styles/keyframes';

.contactPage {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
		@include for_breakpoint(desktop) {
			width: 50rem;
		}
		@include for_breakpoint(tablet) {
			width: 40rem;
		}
		@include for_breakpoint(mobile) {
			width: 90vw;
		}

		h1 {
			align-self: flex-start;
			font-weight: 400;
			font-size: 3rem;
		}

		.textarea {
			position: relative;
			caret-color: transparent;

			&::before {
				content: '';
				position: absolute;
				background: $old-lavender;
				@include for_breakpoint(desktop) {
					width: 50rem;
				}
				@include for_breakpoint(tablet) {
					width: 40rem;
				}
				@include for_breakpoint(mobile) {
					width: 90vw;
				}
				top: 0.25rem;
				z-index: -1;
				height: 30rem;
			}

			&::after {
				content: '';
				background: $old-lavender;
				height: 1.5rem;
				z-index: 1;
				position: absolute;
				animation: blinking 0.75s infinite;
				@include for_breakpoint(tablet mobile) {
					width: 1.25ch;
				}
				@include for_breakpoint(desktop) {
					width: 1.5ch;
				}
			}

			&.input::after {
				top: 0.7rem;
			}

			@keyframes blinking {
				75% {
					opacity: 0;
				}
			}

			input {
				background: $apricot;
				border: 0.15rem solid $english-lavender;
				height: 3rem;
				font-size: 1.5rem;
				width: 100%;
				outline: none;
				color: $old-lavender;
				padding: 0.5rem 0.75rem;
				text-overflow: ellipsis;

				&::placeholder {
					color: $old-lavender-faded;
				}

				&:-webkit-autofill,
				&:-webkit-autofill:focus,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:active,
				&:-internal-autofill-selected {
					color: $old-lavender !important;
					-webkit-text-fill-color: $old-lavender !important;
					box-shadow: 0 0 0px 1000px $apricot inset;
					background-color: $apricot !important;
					background-image: none !important;
				}

				&:-webkit-autofill::first-line {
					font-family: 'Fixedsys', 'sans-serif' !important;
					font-size: 1.5rem !important;
					font-weight: 400 !important;
				}
			}

			textarea {
				height: 30rem;
				font-size: 1.5rem;
				border: 0.15rem solid $english-lavender;
				background: $apricot;
				width: 100%;
				outline: none;
				resize: none;
				color: $old-lavender;
				padding: 0.75rem;

				&::placeholder {
					color: $old-lavender-faded;
				}
			}
		}

		.input {
			@extend .textarea;

			&::before {
				height: 3rem;
			}
		}

		.buttonContainer {
			margin-top: 1rem;
			align-self: center;
			display: flex;
			flex-direction: var(--flex-direction);
			align-items: center;
			justify-content: center;
			gap: var(--msg-flex-gap);
			height: 8rem;

			.sending {
				font-size: 1.25rem;
			}

			.error {
				width: 3.5rem;
				height: 3.5rem;
				background-image: linear-gradient(to bottom right, transparent 50%, $pastel-pink 0),
					linear-gradient(to top right, $pastel-pink 50%, transparent 0);
				background-size: 50% 100%;
				background-repeat: no-repeat;
				background-position: left, right;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        padding-top: 0.5rem;
			}

			.errorMsg {
        font-size: 1.25rem;
			}

			button {
				font-size: 1.5rem;
				background: $english-lavender;
				width: fit-content;
				width: 8rem;
				height: 4rem;
				color: #fff;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 0.4rem;

				img {
					filter: invert(1);
					height: 1.75rem;
					width: 1.75rem;
					margin-top: 0.2rem;
				}

				&:hover {
					span {
						animation: pointRight 1s infinite;
					}
				}

				span {
					@include for_breakpoint(mobile) {
						margin-bottom: 0.25rem;
					}
				}

				&::before {
					position: absolute;
					content: '';
					background: $old-lavender;
					width: 8rem;
					height: 4rem;
					z-index: -1;
					left: 0.25rem;
				}

				&:hover::before {
					top: 0.5rem;
					transition: 0.1s ease-in-out;
				}

				&:not(:hover)::before {
					top: 0.25rem;
					transition: 0.1s ease-in-out;
				}

				&:active {
					background: $melon;
					color: $old-lavender;

					img {
						filter: invert(0);
					}
				}

				&:active::before {
					filter: blur(2px);
				}
			}

			.loader {
			}
		}
	}
}

.inputFocus {
	textarea,
	input {
		border: 0.15rem solid $pastel-pink !important;
		transition: 0.1s ease-in-out;
	}

	&::before {
		left: 0.5rem;
		transition: 0.1s ease-in-out;
	}
}

.inputBlur {
	textarea,
	input {
		border: 0.15rem solid $english-lavender !important;
		transition: 0.1s ease-in-out;
	}
	&::before {
		left: 0.25rem;
		transition: 0.1s ease-in-out;
	}
}
