@import '@styles/colors';
@import '@styles/mixins';

.navBar {
	position: fixed;
	z-index: 10;

	header {
		display: flex;
		align-items: center;
		height: 7rem;
		padding: 0 1.5rem;
		gap: 1.5rem;

		.navHeaderBtn {
			width: 7rem;
			height: 4rem;
			background: $english-lavender;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: 0.1s ease-in-out;
		}

		.light {
			filter: drop-shadow(0.25rem 0.25rem $melon);

			&:hover {
				filter: drop-shadow(0.25rem 0.5rem $melon);
			}

			&:active {
				background: $melon;
				filter: drop-shadow(0.25rem 0.5rem 2px $english-lavender);
				svg {
					color: $old-lavender;
				}
			}
		}

		.dark {
			filter: drop-shadow(0.25rem 0.25rem $old-lavender);

			&:hover {
				filter: drop-shadow(0.25rem 0.5rem $old-lavender);
			}

			&:active {
				background: $melon;
				filter: drop-shadow(0.25rem 0.5rem 2px $old-lavender);
				svg {
					color: $old-lavender;
				}
			}
		}

		.navHeaderLinks {
			display: flex;
			list-style: none;
			gap: 0.6rem;

			a {
				width: 4rem;

				&::before {
					width: 4rem;
				}
			}
		}

		svg {
			width: 1.5rem;
			height: 1.5rem;
			color: #fff;
		}
	}
}

.navDisplay {
	z-index: -1;
	height: 100vh;
	width: 100vw;
	background: $old-lavender;
	margin-top: -7rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include nav-menu-padding;

	ul {
		list-style: none;
	}

	li {
		margin: 0.5rem 0;
	}

	a {
		text-decoration: none;
		color: $apricot;
		font-size: 3rem;
		width: min-content;
		line-height: 3.5rem;
	}
}

.navShow {
	animation-fill-mode: forwards;
	animation-name: showFromLeft;
	animation-duration: 1s;
}

.navHide {
	@extend .navShow;
	animation-name: hideToLeft;
}

@mixin visible-values {
	width: 100vw;
	opacity: 1;
}

@mixin hidden-values {
	width: 0;
	padding-right: 0;
	padding-left: 0;
	opacity: 0;
	background: $apricot;
	pointer-events: none;
}

@keyframes showFromLeft {
	0% {
		@include hidden-values;
	}
	100% {
		@include visible-values;
	}
}

@keyframes hideToLeft {
	0% {
		@include visible-values;
	}
	100% {
		@include hidden-values;
	}
}
