@import 'colors';

.nav-button-animate {
  width: 7rem;
  height: 4rem;
  background: $english-lavender;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button-animate:active {
  background: $melon;

  svg {
    color: $old-lavender;
  }
}

.nav-button-animate::before {
  content: '';
  width: 7rem;
  height: 4rem;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  z-index: -1;
}

.nav-button-animate:active::before {
  filter: blur(2px);
}

.nav-button-animate:hover::before {
  top: 0.5rem;
  transition: 0.1s ease-in-out;
}

.nav-button-animate:not(:hover)::before {
  transition: 0.1s ease-in-out;
}